/II/MyFirstProject/nbproject/private/
/II/MyFirstProject/build/
/II/MyFirstProject/dist/
/I/evenOddNumbers/EvenOddNumbers/nbproject/private/
/I/evenOddNumbers/EvenOddNumbers/build/
/II/Calculator/Calculator/nbproject/private/
/II/Calculator/Calculator/build/